name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
          - "3.12"
          - "3.13"
        os:
          - ubuntu-latest
          # - windows-latest
          # - macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Sync
        run: uv sync
      - name: Run pre-commit
        run: uv run pre-commit run --all-files
      - name: Run pytest
        run: uv run pytest --cov-report term-missing
      - name: Run coverage
        run: uv run coverage xml
      # - uses: codecov/codecov-action@v5
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     files: ./coverage.xml
      #     fail_ci_if_error: false

  min-versions:
    name: min-versions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
      - name: Install with min requirements
        run: uv sync --no-dev --resolution=lowest-direct
      # - name: Run smoke test
        # run: tbd

  # docs:
  #   name: docs
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       shell: bash -el {0}
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: astral-sh/setup-uv@v7
  #     - name: Install pandoc
  #       run: sudo apt-get install -y pandoc
  #     - name: Sync
  #       run: uv sync --group docs
  #     - name: Build docs
  #       run: ./scripts/build-docs
